name: 'Tree Sitter Query (SCM)'
scopeName: 'source.scm'
type: 'tree-sitter-2'
parser: 'tree-sitter-query'

injectionRegex: "^(SCM|scm)$"

fileTypes: ['scm']

treeSitter:
  grammar: 'tree-sitter-query/tree-sitter-query.wasm'
  syntaxQuery: 'tree-sitter-query/queries/highlights.scm'
  foldsQuery: 'tree-sitter-query/queries/folds.scm'
  indentsQuery: 'tree-sitter-query/queries/indents.scm'

comment:
  start: '; '
